body {
    background-color: #D3D3D3;
    color: black;
    font-family: "Montserrat";
    text-align: justify;
    line-height: 1.5;
}

h2 {
    text-align: center;
}

h5 {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.5;
}

.container-fluid {
    padding: 0
}

.row {
    margin: 30px 5px 5px 5px;
}

.carddoenca {
    margin-top: 30px;
}


.navbar-brand {
    font-size: 2rem;
}

.navbar {
    background-color: #424874;
    padding: 2%;
    font-size: 1.25rem;
    font-weight: bold;
}

.formA {
    margin-left: 20%;
}

.delA {
    margin-top: 10%;
}