<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clínica</title>
    <!-- VAI TER UM FABICON AQUI -->
    <!-- BOOTSTRAP -->
</head>
<body>
    <h1>HOME</h1>
    <h2>Algum lugar aqui terá o dashboard com o pacientes e virus</h2>
    <h2>Tratamento dos virus com um crud?</h2>
    <ul>
        <li>Cadastro de Paciente - numa nav</li>
        <li>Fichas dos pacientes com seu diag</li>
        <li>Logout</li>
    </ul>
</body>
</html>