{% extends 'base/modelo.html' %}
{%block content %}


<div class="row">
    {% for Pacientes in Pacientes %}
    <div class="carddoenca col-lg-4">
        <div class="card">
            <h5 class="card-header">{{ Pacientes.nome }}</h5>
            <div class="card-body">
              <h5 class="card-title">Nome da doença</h5>
              <p class="card-text">{{ Pacientes.cpf }}</p>
              <p class="card-text">{{ Pacientes.genero }}</p>
              <p class="card-text">{{ Pacientes.dataNasc }}</p>
              <p class="card-text">{{ Pacientes.tipoSang }}</p>
              <p class="card-text">{{ Pacientes.sintomas }}</p>
              <p class="card-text">{{ Pacientes.descrCaso }}</p>
              <p class="card-text">{{ Pacientes.dataInc }}</p>
              <a href="#" class="btn btn-primary">Editar</a>
              <a href="#" class="btn btn-primary">Apagar</a>
            </div>
          </div>
    </div>
    {% endfor %}
</div>







{% endblock content %}      








